.nav-principal{
  
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #4A138B;
  box-shadow: 0 3px 10px  rgba(0,0,0,.4)

}

.logo{
  font-size: 1.5rem;
  color: #f9f9f9;
  font-weight: 500;
}

.items-menu{
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.items-menu li, .items-menu li a, .items-menu .btn{
  position: relative;

  color: #f9f9f9;
  font-size: 1.2rem;
  text-decoration: none;
  transition: all .3s ease-in-out;
  cursor: pointer;
}


#menu-drop{
  position: absolute;
  left:  0;
  top: 2rem;

  display: flex;
  flex-direction: column;
  opacity: 0;

  background-color: #fff;
  border-radius: .5rem;

  padding: 1rem 2rem;
  transition: all .3s ease-in-out;
  z-index: 10;
}
#lk-menu-drop:hover{
  color: var(--Color-purple);

  #menu-drop{
      opacity: 1;
  }
}


#menu-drop  li{
  margin-bottom: 1rem;  
}
#menu-drop  li a{
  font-size: 15px;
  font-weight: 500;  
  color: #242424;  
}

.items-menu li a:hover, #menu-drop  li a:hover{
  color: var(--Color-purple);
}
