<nav class="nav-principal">
    <a  routerLink="/" class="logo">F. Peppa Pig</a>
  
    <div class="items-menu">
      <li> <a routerLink="/">Início</a></li>
      <li *ngIf="isAuthenticated" id="lk-menu-atendimento">Suínos
        <ul id="menu-atendimento">
          <li><a routerLink="register-suino"> Cadastro </a></li>
          <li><a routerLink="list-suino"> Listagem </a></li>
        </ul>
      </li>
      <li *ngIf="isAuthenticated" id="lk-menu-atendimento">Manejo
        <ul id="menu-atendimento">
          <li><a routerLink="register-manejo"> Cadastro </a></li>
          <li><a routerLink="list-manejo"> Listagem </a></li>
        </ul>
      </li>
      <li> <a  *ngIf="isAuthenticated" (click)="logout()">Logout</a></li>
      <li> <a  *ngIf="!isAuthenticated" routerLink="/login" >Entrar/Criar</a></li>
    </div>
  </nav>