main,#table_section,#step2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 3%;
}

#btn_limpaFiltro{
    display: block;
    border: none;
    color: var(--Color-purple);
    background-color: transparent;
    margin: 2rem auto 0 auto;
    cursor: pointer;
}

.card-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}


#table_section{
    margin-top: 2rem;

}
.tabela{
    width: 70%;
    margin-top: 1.5rem;
}
.tabela, th, td{
    padding: 10px;
    text-align: left;
    border: 1px solid #cecece;
    border-collapse:collapse;
    background-color: #fff;

}

.tabela button{
    color: var(--Color-purple);
    font-weight: 500;
}

form{
    width: 70%;
}
textarea {
    resize: none;
}

#step2 h2{
    margin-bottom: 2rem;
}
#step2 form p{
    color: #242424;
    margin-bottom: 1rem;
    font-weight: 500;
}