main{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.container{
    padding: .5em;
}

#section1{
    display: grid;
    grid-template-columns: 1fr 1.5fr .5fr;
    column-gap: 5px;
    margin: 10px 0 5px 0;
}

/* 25rem equivale 400px */
#section2{
    display: grid;
    grid-template-columns: 1fr 2fr; 
    column-gap: 5px;
    margin-bottom: 12px;
}
@media(max-width: 500px){
    #section1,
    #section2{
        grid-template-columns: auto !important;
    } 
}
