/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap') */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    list-style: none !important;
    text-decoration: none !important;
}
html{
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    width: 0.2rem;
    height: 0.5rem;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
}

*::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 6px  #cecece;
    box-shadow: inset 0 0 6px  #cecece;
}

.subtitle{
    color: #F2550A !important;
    font-weight: 500 !important;
    font-size: 2rem !important;
}

.card_style{
    width: 18rem; 
    min-height: 28rem;
}

@media(max-width:768px){
    .card_style{
        width: 18rem; 
        min-height: 28rem;
    }
}

@media(max-width:560px){
    .card_style{
        width: 18rem; 
        min-height: 28rem;
    }
}