{% extends 'index.html' %}
{% load static %}

{% block content %}
    <main class="row  w-100 m-0 p-0">
        <div class="col-3 m-0 ">
            <p>nav esquerdo</p>
        </div>
        
        <article class="col-6">
            <div class="w-100 mb-4" style="height: 10rem;">
                <img src="https://www.loja-taygra.com.br/img/bannieres/homepage_logo_2.jpg" alt="" class="w-100 h-100">
            </div>
            <h1 class="fs-3 fw-medium w-full text-center text-body-secondary"> TAYGRA, os calçados 100% Brasileiros
            <h2 class="fs-5 fw-lighter text-secondary w-full text-center mb-3">Sapatos artesanais feitos no Brasil, com respeito ao homem e ao meio ambiente</h2>
            
            <p>Tênis, chinelos, botas, sandálias, os sapatos ecológicos e veganos da Taygra, vindos diretamente do Brasil, permitem que cada um descubra o conforto dos tênis brasileiros.</p>
            
            <p> Desde os materiais até o processo de fabricação e comercialização, a Taygra adota uma abordagem ecológica, ética e justa. Tênis solidários que usam materiais alternativos, uma versão diferente e visionária dos negócios.</p>

            <p> Para cada par de sapatos vendido, aproximadamente um euro por par será destinado à reflorestação na Amazônia. </p>

            <p> Os tênis Taygra, sapatos para viver: cidade, relaxamento, esportes em ambientes fechados, fitness, skate, dança, capoeira, artes marciais, passeios, esportes aquáticos, ...

                <br>
            100% Brasil!</p>

        </article>

        <div class="col-3 m-0">
            <p>nav direita</p>
        </div>
    </main>
{% endblock content %}
