{% extends 'index.html' %}

{% block content %}
  <main class="col-12 d-flex align-items-center justify-content-center py-3 px-2 py-md-5">
    <form action="{% url 'cadastro' %}" method="post" class="col-12 col-md-6 col-lg-4 bg-white border p-4 rounded">
      {% csrf_token %}
      <h2 class="w-100 text-center fs-4 mb-1">Entrar</h2>
      <p class="w-100 text-center form-text mb-5">Crie uma conta e aproveite o melhor da moda</p>

      {{ form_signUp.as_p }}
      <div class="input-group d-flex flex-column align-items-start">
        <label for="id_user_confirme_pascentersword">Confirme  sua senha: </label>
        <input type="password" class="w-100 form-control mt-2 rounded" id="id_user_confirme_password" name="id_user_confirme_password" required >
      </div>
      {% if form_signUp.errors %}
        <p class="w-100 text-start text-danger">Formulário inválido. Verifique os campos e tente novamente.</p>
      {% endif %}
      <p class="w-100 text-center bg-gray-700 mb-5 fs-6 mt-3">Já possui uma conta ? <a  href="{% url 'login' %}">Clique aqui</a></p>
      <button type="submit" class="btn d-block mx-auto text-white px-3 py2 mt-5" style="background-color: #88C661;">Cadastrar</button>
    </form>
  </main>
{% endblock %}
