<article id="destaques">
    <header>
        <h2>Destaque</h2>
    </header>

    <div class="img-wrapper">
        <a href="http://https//www2.uesc.br/noticias/896/Uesc-sobe-no-ranking" target="_blank"> <img
                src="http://www.uesc.br/adm/xml/imagens/enade2022.png" alt="destaque 1"></a>
    </div>
    <div class="img-wrapper">
        <a href="https://www2.uesc.br/noticias/906/Pesquisa-Comportamentos-de-Movimento-de-24-horas-Saude-e-Composicao-Corporal-de-Adultos"
            target="_blank">
            <img src="http://www.uesc.br/adm/xml/imagens/slideshow_site_uesc__modelo_500_x_236_px.png"
                alt="destaque 2">
        </a>
    </div>
</article>