main{
    width: 100%;
    min-width: 100%;
    height: auto;
    min-height: 100vh;

    overflow-x: hidden;

    background-image: url('../assets/Wikipedia_background3.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 9%;
}