{% extends 'index.html' %}

{% block content %}
  <main class="col-12 d-flex align-items-center justify-content-center py-3 px-2 py-md-5">
    <form action="{% url 'edicao' %}" method="post" class="col-12 col-md-6 col-lg-5 bg-white border p-4 rounded">
      {% csrf_token %}
      <h2 class="w-100 text-center fs-4 mb-1">Edição</h2>
      <p class="w-100 text-center form-text mb-5">Altere a informação desejado e ao final, clique em 'Atualizar'</p>

      <div class="input-group d-flex flex-column align-items-start mb-3">
        <label for="nome" class="form-label fw-medium">Nome</label>
        {{ formEdit.username }}
      </div>
      <div class="input-group d-flex flex-column align-items-start mb-3">
        <label for="nome" class="form-label fw-medium">Sobre nome</label>
        {{ formEdit.last_name }}
      </div>
      <div class="row d-flex gap-1 justify-content-between">
        <div class="col-6 d-flex flex-column align-items-start mb-3">
          <label for="nome" class="form-label fw-medium">CPF</label>
          {{ formEdit.cpf }}
        </div>
        <div class="col-5 d-flex flex-column align-items-start mb-3">
          <label for="nome" class="form-label fw-medium">Data de nascimento</label>
          {{ formEdit.dt_nascimento }}
        </div>
      </div>
      <div class="input-group d-flex flex-column align-items-start mb-3">
        <label for="nome" class="form-label fw-medium">E-mail</label>
        {{ formEdit.email }}
      </div>

      <button type="submit" class="btn d-block mx-auto text-white bg-black px-3 py2 mt-5">Atualizar</button>
    </form>
  </main>
{% endblock %}
