{% extends 'index.html' %}

{% block content %}
  <main class="col-12 d-flex align-items-center justify-content-center py-3 px-2 py-md-5">
    <form action="{% url 'login' %}" method="POST" class="col-12 col-md-6 col-lg-4 bg-white border p-3 rounded">
      {% csrf_token %}
      <h2 class="w-100 text-center fs-4 mb-5">Login</h2>


      <div class="input-group d-flex flex-column align-items-start mb-3">
        <label for="nome" class="form-label fw-medium">Usuario</label>
        {{ form_signIn.username }}
      </div>
      <div class="input-group d-flex flex-column align-items-start mb-3">
        <label for="nome" class="form-label fw-medium">Senha</label>
        {{ form_signIn.password }}
      </div>
      {% if form_signIn.errors %}
        <p class="w-100 text-start text-danger">Usuário ou senha inválida. Tente novamente.</p>
      {% endif %}
      <p class="w-100 text-center bg-gray-700 mb-5 fs-6">
        Ainda não tem uma conta ? <a href="{% url 'registro' %}">Clique aqui</a>
      </p>
      <button type="submit" class="d-block btn text-white mx-auto px-3 bg-black borde-none">Login</button>
    </form>
  </main>
{% endblock %}
