{% extends 'index.html' %}
{% block modais %}

<div id="modal-cadastro" class="modal h-100" tabindex="-1">
    <div class="modal-dialog position-absolute start-50 translate-middle w-75 w-lg-50" style="top:85%">
      <div class="modal-content p-2">
        <h2 class="text-center"> Cadastro de Usuário </h2>
        <form action="{% url 'addUser' %}" method="post">
            {% csrf_token %}
            <div>
                <div class="row gap-2">
                    <div class="col">
                        <span>Nome</span>
                        {{formuser.username}}
                    </div>
                    <div class="col">
                        <span>Sobre nome</span>
                        {{formuser.last_name}}    
                    </div>
                </div>
                <div class="row gap-2">
                    <div class="col">
                        <span>CPF</span>
                        {{formuser.cpf}}
                    </div>
                    <div class="col">
                        <span>Nascimento</span>
                        {{formuser.dt_nascimento}}    
                    </div>
                </div>
                <div class="col my-2">
                    <span>E-mail</span>
                    {{formuser.email}}
                </div>
                <div class="col my-2">

                <span>Senha</span>
                {{formuser.password}}
                </div>
                <div class="col my-2">
                    <span>Confirme sua senha</span>
                    <input type="password" class="w-100 form-control mt-2 rounded" id="id_user_confirme_password" name="id_user_confirme_password" placeholder="Repita a senha informada" required />
                </div>
            </div>
            <div>
                <table class="table">
                    <thead class="table-primary">
                        <tr>
                            <td></td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus" style="transform: translateX(-.5rem)" viewBox="0 0 16 16">
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                                </svg>
                            </td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
                                </svg>
                            </td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                </svg>
                            </td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                                </svg>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for key, value in permissoes.items %}
                        <tr>
                            <td>{{key}}</td>
                        {% for itemkey, itemvalue in value.items %}
                            <td width="30"><input name="permissao" value="{{itemvalue}}" type="checkbox"></td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                <table class="table">
                    <thead class="table-primary">
                        <tr>
                            <td></td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus" style="transform: translateX(-.5rem)" viewBox="0 0 16 16">
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                                </svg>
                            </td>
                      
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in grupos %}
                            <tr>
                                <td>{{item.name}}</td>
                            
                                <td width="30"><input name="grupo" value="{{item.id}}" type="checkbox"></td>
                            
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-end mt-3">
                <button type="button" class="btn btn-secondary px-2 py-1 me-2" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success px-2 py-1">Cadastrar</button>
            </div>
        </form>
      </div>
    </div>
</div>

{% endblock modais %}

{%  block modal_edit %}
    {% for user_id, usuario, userForm in users %}
        <div id="modal-edit{{usuario.id}}" class="modal h-100" tabindex="-1">
            <div class="modal-dialog position-absolute start-50 translate-middle w-75 w-lg-50" style="top:85%">
                <div class="modal-content p-2">
                    <h2 class="text-center"> Editar de Usuário </h2>
                    <form action="{% url 'admEditUser' usuario.id %}" method="post">
                        {% csrf_token %}
                        <div>
                            <div class="row gap-2">
                                <div class="col">
                                    <span>Nome</span>
                                    {{userForm.username}}
                                </div>
                                <div class="col">
                                    <span>Sobre nome</span>
                                    {{userForm.last_name}}    
                                </div>
                            </div>
                            <div class="row gap-2">
                                <div class="col">
                                    <span>CPF</span>
                                    {{userForm.cpf}}
                                </div>
                                <div class="col">
                                    <span>Nascimento</span>
                                    {{userForm.dt_nascimento}}    
                                </div>
                            </div>
                            <div class="col my-2">
                                <span>E-mail</span>
                                {{userForm.email}}
                            </div>

                        </div>
                        <div>
                            <table class="table">
                                <thead class="table-primary">
                                    <tr>
                                        <td></td>
                                        <td>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus" style="transform: translateX(-.5rem)" viewBox="0 0 16 16">
                                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                                            </svg>
                                        </td>
                                        <td>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
                                            </svg>
                                        </td>
                                        <td>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                            </svg>
                                        </td>
                                        <td>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                                            </svg>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for key, value in permissoes.items %}
                                    <tr>
                                        <td>{{key}}</td>
                                        {% for itemkey, itemvalue in value.items %}
                                            <td width="30">
                                                <input name="permissao" value="{{itemvalue}}" type="checkbox" 
                                                    {% for p in usuario.user_permissions.values %}
                                                        {% if itemvalue == p.id %} checked {% endif %}
                                                    {% endfor %}
                                                >
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <table class="table">
                                <thead class="table-primary">
                                    <tr>
                                        <td></td>
                                        <td>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus" style="transform: translateX(-.5rem)" viewBox="0 0 16 16">
                                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                                            </svg>
                                        </td>
                                
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in grupos %}
                                      
                                        <tr>
                                            <td>{{item.name}}</td>
                                        
                                            <td width="30">
                                                <input name="grupo" value="{{item.id}}" type="checkbox"
                                                    {% for grupo in usuario.groups.values %}
                                                        {% if item.name == grupo.name %} checked {% endif %}
                                                    {% endfor %}
                                                >
                                            </td>
                                        
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="d-flex justify-content-end mt-3">
                            <button type="button" class="btn btn-secondary px-2 py-1 me-2" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-success px-2 py-1">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock modal_edit %}


{% block content %}

    <section class="my-5">
        <h2 class="my-3 text-center"> Painel Administrativo </h2>

        <div class="mx-3">

            <div class="w-100 d-flex  justify-content-start align-items-center gap-4">

                <button class="btn my-2 d-flex align-items-center gap-2" data-bs-target="#modal-cadastro" data-bs-toggle="modal" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="green" class="bi bi-plus-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                    </svg>
                    Novo Usuário
                </button>
                <a class="text-black d-flex align-items-center gap-2" href="{% url 'addGroup' %}">  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="green" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                </svg>Grupo de usuário</a>
            </div>

            <table class="table">
                <thead class="table-primary">
                    <th>Nome</th>
                    <th>
                        <div class="d-none d-sm-block">
                            Usuário
                        </div>
                    </th>
                    <th>
                        <div class="d-none d-lg-block">
                            Email
                        </div>
                    </th>
                    <th>
                        <div class="d-none d-md-block">
                            CPF
                        </div>
                    </th>
                   
                    <th>Ações</th>
                </thead>
                <tbody>
                {% for user_id, usuario, userForm in users %}
                    <tr class="{% cycle 'bg-light' 'bg-body-tertiary' %}">
                        <td>{{usuario.first_name}} {{usuario.last_name}}</td>
                        <td>
                            <div class="d-none d-sm-block">
                                {{usuario.username}}
                            </div>
                        </td>
                        <td>
                            <div class="d-none d-lg-block">
                                {{usuario.email}}
                            </div>
                        </td>
                        <td>
                            <div class="d-none d-md-block">
                                {{usuario.cpf}}
                            </div>
                        </td>
                        
                        <td>
                            <button class="btn"  data-bs-target="#modal-edit{{usuario.id}}" data-bs-toggle="modal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                                </svg>
                            </button>
                            <a href="{% url 'toggleactive' usuario.id %}" class="btn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="
                                {% if usuario.is_active %}
                                    green
                                {% else %}
                                    red
                                {% endif %}
                                " class="bi bi-circle-fill" viewBox="0 0 16 16">
                                    <circle cx="8" cy="8" r="8"/>
                                </svg>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

{% endblock content %}
