{% extends 'index.html' %}

{% block content %}
  <main class="col-12 d-flex flex-column align-items-center justify-content-center  py-3 px-2 px-md-5 py-md-5">
    <h2 class="w-100 text-center fs-4 mb-5">SOBRE A TROC</h2>

  <section class="col-12 col-md-10 px-0 px-md-5">
    <p class="w-100 text-start fs-6">A TROC acredita que a roupa mais sustentável é aquela que já existe, por isso promove a compra e a venda de roupas e acessórios usados em ótimo estado.</p>
    <p class="w-100 text-start fs-6">Com uma curadoria inteligente e responsável, a seleção da plataforma é especializada em peças secondhand de qualidade e de marcas de moda premium e luxo.</p>
    <p class="w-100 text-start fs-6">A TROC atua para ressignificar a cultura de consumo e gerar impacto positivo, fomentando a Moda Circular.    </p>
    <p class="w-100 text-start fs-6">Foi fundada em 2016 por Luanna Toniolo e Henrique Domakoski, em Curitiba, e desde 2020 faz parte do Grupo Arezzo & Co.</p>

    <iframe class="col-12 h-auto mt-5" style="min-height: 30rem ;"  src="https://www.youtube.com/embed/qO4bMr9x0oo?si=MUzNmyVVvtUnE6p3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </section>
  </main>
{% endblock %}
