<article id="resultados">
    <header>
        <h2> Resultados</h2>
    </header>
    <div>
        <h3>Mestrado Profissional em Educação - PPGE </h3>
        <p><a href="http://www.uesc.br/cursos/pos_graduacao/mestrado/formacaodeprofessores/2023/resultado-selecao-ppge2023-projeto-curriculo_final%2024-11-2023.pdf"
                target="_blank">Resultado da Prova Escrita </a></p>

        <h3>Pós-graduação em
            Ciências da Saúde </h3>
        <p> <a href="https://www.ppgcsuesc.com.br/processo-seletivo" target="_blank"> Inscrições Homologadas
                - Após Recursos </a></p>

        <h3>Seleção de Professor Visitante </h3>
        <p><a href="https://www2.uesc.br/publicacoes/editais/arquivo/2023/11/205_2023.pdf" target="_blank">
                Inscrições Homologadas - Edital nº203 PPGE </a> </p>
        <p><a href="https://www2.uesc.br/publicacoes/editais/arquivo/2023/11/205_2023.pdf" target="_blank">
                Inscrições Homologadas - Edital nº204 DCEX - Retificado </a> </p>
        <p><a href="https://www2.uesc.br/publicacoes/editais/arquivo/2023/11/205_2023.pdf" target="_blank">
                Inscrições Homologadas - Edital nº200 Perpp </a> </p>
    </div>

</article>